<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>%title</title>

	<style type="text/css"><!--
	body, a, td {font-family: Verdana, Tahoma, Arial, Sans-Serif; font-size: 10 pt }
	--></style>
</head>

<body bgcolor="%page_color" text="%text_color">

	<center>

	<h2>%caption</h2>

	<table cellspacing="2" cellpadding="3" border="0">
		[row_start]
		<tr>
			[cell_start]
				<td align="center">
				<a href="%photo_href"><img src="%thumb_src" border="0" width="%thumb_width" height="%thumb_height" alt=""></a>
				<p>%photo_text</p>
				</td>
			[cell_end]
		</tr>
		[row_end]
	</table>

	</center>

</body>
</html>
